- content_for :popups do
  #copy-move.popup{:style => "display:none"}
    - form_tag '#', :method => :post do
      %h3 Copy or move page
      %p
        %label{:for => 'parent_id'} New parent:
        = page_parent_select_tag
      %p
        %label{:for => 'status_id'} New status:
        = select_tag "status_id", options_for_select(Status.find_all.map{ |s| [s.name, s.id] }.unshift(['Use the same status', nil]))
      %p.buttons
        = submit_tag "OK"
        or
        = link_to_function "Cancel", "$(this).up('.popup').hide();"
- content_for :page_scripts do 
  :plain
    document.observe('dom:loaded', function(){
      $(document.body).observe('click', function(){$$('ul.popup-menu').invoke('hide');});
      $$('td.copy-move ul.popup-menu a').each(function(element){
          element.observe('click', function(evt){
            evt.stop();
            element.up('ul').hide();
            $('copy-move').centerInViewport();
            $('copy-move').show().down('form').setAttribute('action', element.href);
          });
        });
      });
